body {
  background-color: #ffffff;
  background-size: cover;
}

.hero-text {
  color: #2a2a2c;
  text-align: left;
  font-size:100px;
  margin-top: 22px;
  margin-left: 75px;
  margin-right: 75px;
  font-family:'Montserrat' ,sans-serif;
}

.projects-button {
  margin-top: 75px;
  font-family: 'Montserrat' ,sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 35px;
  padding-right: 35px;
  margin-left: 75px;
  border-radius: 0px!important;
}

.list {
  margin-top: 15px;
}

.bootstrap-logo {
  width: 300px;
  height: 80px;
}

.main-artwork {
  width: 350px;
  height: 350px;
  margin-top: 15px;
}

.artwork-div {
  margin-top: 5px;
}

.navbar-header {
  background-color: transparent;
}

.homepage-link {
  color: white;
  font-family: 'Cutive Mono', monospace;
  font-weight: bold;
}

.homepage-link:hover {
  color: white;
  text-decoration: underline;
}

.github-content {
  margin-top: 150px;
}

.github-content-text {
  font-family: 'Montserrat' ,sans-serif;
  margin-left: 34px;
}

#github-content-headline {
  font-weight: 700;
  margin-left: 34px;
}

.github-button {
  font-family: 'Montserrat' ,sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 35px;
  padding-right: 35px;
  margin-left: 34px;
  border-radius: 0px!important;
}

@media screen and (max-width: 992px) {
  .hero-text {
    font-size: 35px;
  }
}

.project-showcase {
  margin-left: 75px;
  margin-right: 75px;
}

.featured-text {
  margin-left: 75px;
  margin-bottom: 15px;
  margin-top: 200px;
  font-family: 'Montserrat' ,sans-serif;
  font-weight: 700;
}
